[2018-11-20 22:05] JasonEtco opened #2 "Better support for arguments"
Currently, arguments are accessed via `process.argv`. It'd be great to serialize those and provide a nicer API for consuming arguments by the workflow. As a `process` variable, it's extremely hard to test.

More specifically, any additional arguments are _usually_ (but not only) passed as `process.argv[2]` or higher, because `0` is the Node executable, and `1` is the file that's being run (like `n

[2018-11-25 19:04] JasonEtco commented on #2
Closed by #4

[2018-11-25 19:04] #2 closed

[2018-11-25 19:12] JasonEtco opened #5 "Provide a logger"
I'm not sure what the goals here are, but I find that when I'm debugging an action its difficult to visually parse the logs. I'd like to explore a better logging solution, one that `actions-toolkit` can help with.

Something like this, which shows the logger name and where in the code the logs come from:

[code]

#### Some loggers

* [Bunyan](https://github.com/trentm/node-bunyan)
* [Winston](http

[2018-11-26 04:14] tcbyrd commented on #5
[Winston](https://github.com/winstonjs/winston) is the other one I've wanted to look at, and seems like it's the more popular tool than Bunyan in the last few months ([Buyan may also not be maintained](https://github.com/trentm/node-bunyan/issues/586)?)

[2018-12-15 19:19] JasonEtco opened #11 "CLI tool to bootstrap a new Action"
I'd love to run a command to bootstrap the various files I know I'll need (like a Dockerfile):

[code]

This would generate a Dockerfile:

[code]

It could also generate an `entrypoint.js` file:

[code]

This could use `inquirer` to fill in some of those fields, like `create-probot-app`.

[2018-12-15 19:24] JasonEtco opened #12 "Document toolkit#getFile"
I noticed this isn't documented in the README at all for some reason - it should be!

Here's the code:

https://github.com/JasonEtco/actions-toolkit/blob/2b581206d86bc6ec386c8f47c1d257fd488cb725/src/index.ts#L68-L82

Marking this as <kbd>good first issue</kbd> - if you're interested in contributing, that'd be wonderful!

[2018-12-17 04:20] #12 closed

[2018-12-18 18:44] JasonEtco opened #14 "Show Table of Contents for API"
I've noticed that some folks aren't making full use of APIs provided by `actions-toolkit`, and I'm assuming its because they don't know about a certain method/property. It'd be nice to provide a table of contents that show, at a high level, the things that `actions-toolkit` can do. Something like:

* API
  * Authenticated GitHub API client
  * Parsing arguments
  * Reading files

[2018-12-18 19:16] lannonbr opened #15 "Describe tools.arguments further"
In the docs, it may be useful further to describe how to write this when interacting with the `.workflow` files:

as seen in the [GitHub Actions docs](https://developer.github.com/actions/creating-workflows/workflow-configuration-options/#action-blocks), the args field could be written here:

[code]

With actions-toolkit, I think this would be converted to this I believe:

[code]

Is this correct?

[2018-12-22 04:07] JasonEtco commented on #15
Thanks for opening this @lannonbr - yep, your example above is correct. I do agree that showing an example of a workflow's `args` would be really helpful. PRs welcome ❤️ otherwise I should get to it soon.

[2019-01-13 17:22] JasonEtco opened #17 "/command support"
It'd be great to provide a `/command` abstraction - something like:

[code]

Or maybe...

[code]

---

Memorializing a conversation in [this tweet](https://twitter.com/JasonEtco/status/1084294026965192704):

<img width="400" alt="image" src="https://user-images.githubusercontent.com/10660468/51088429-8858d100-172d-11e9-8be6-565f762bb7f5.png">

---

I think that @mscoutermarsh should work on this 😎

[2019-01-18 02:14] tcbyrd commented on #5
Oh that's interesting. And yeh both Winston and Bunyan are more aimed at production logging use cases. A reporter like that would definitely be a better fit for Actions.

[2019-01-26 03:26] JasonEtco opened #18 "GraphQL support"
Would be great to use [`@octokit/graphql`]() and provide an authenticated GraphQL method. Something like:

[code]

Or, adding it through an Octokit plugin.

[2019-01-27 20:25] #18 closed, assigned to nobody

[2019-01-28 00:31] #11 closed

[2019-01-28 02:33] JasonEtco commented on #17
Hi @mscoutermarsh cc [this tweet](https://twitter.com/mscccc/status/1089711776613117952)

[2019-01-28 18:24] JasonEtco commented on #17
Random thought - this'd be a weird API, because we'd need to ensure that its only triggered by `issue_comment` events, and that thats clear in the docs. Internally, that might be:

[code]

[2019-01-30 04:17] JasonEtco opened #27 "Automated release workflow"
Publishing this library is pretty manual right now. I'd like to dogfood and use GitHub Actions to automatically publish the npm package when I create a new release on GitHub (because [Release Drafter](https://github.com/toolmantim/release-drafter) is still great).

I'm imagining something like this:

[code]

[2019-01-30 18:18] JasonEtco opened #28 "A "store" for sharing information across actions"
Sharing data between actions _can_ be done, but its a little tricky. A workflow has a shared file-system (in `/github/workspace`), so data can be written and read from a file across actions.

However, this is can be kinda tricky to get right. I'd love to build a "store" of sorts, that just reads/writes from a namespaced file. Something like:

[code]

This could operate inside of a `.txt` file, nam

[2019-01-30 20:03] ahmadnassri commented on #28
for such a tool, you'd want to consider writing to a buffer then writing to disk on process execution completion...

otherwise you might have write conflicts within async threads

[2019-01-30 20:49] JasonEtco commented on #28
That's a great idea @ahmadnassri 👌 I'm not sure if Actions/Docker will honor a `process.on('exit')` handler, but its worth finding out.

[2019-01-31 19:03] #27 closed

[2019-02-02 21:21] #28 closed

[2019-02-03 14:51] JasonEtco opened #33 "Release workflow doesn't support 2FA"
The workflow added in #27 doesn't work because of a limitation in NPM's authentication strategy. Currently, you can either have 2FA for authorization only (login), or for everything (including publishing libraries) - unfortunately, that applies to tokens as well.

So during the action run, it attempts to publish and asks for an OTP (one-time-password) - which of course I can't provide.

Memorializ

[2019-02-03 14:54] JasonEtco opened #34 "Release workflow won't publish tagged versions"
I realized that the workflow added in #27 doesn't actually publish tags to NPM. So it'll validate that, for example, `v1.1.0-beta.1` is in a prerelease GitHub release, but won't [publish it as `--tag beta`](https://docs.npmjs.com/cli/publish#description). This is a limitation of the current workflow strategy; that information would need to be passed to `args` here:

https://github.com/JasonEtco/ac

[2019-02-03 15:51] JasonEtco opened #35 "Add methods for exiting the action"
I think it'd be cool to add methods to exit the action with the appropriate exit code. For a successful action, you can just let the action end on its own, but for a failure or a neutral status you need to pass the appropriate code. Here's what I'm thinking:

[code]

Especially for the neutral status, remembering the code you want to use and actually calling `process.exit` is a weird scenario (at

[2019-02-06 21:08] JasonEtco opened #36 "Only allow certain events"
Events that trigger actions are defined in workflows, but there's nothing prevent me from using, for example, an action that is designed to inspect a `push` payload triggered by an `issues` event. So, it'd be nice to build a declarative way to fail an action run unless the event trigger matches what the action was expecting.

The real goal here is to avoid situations where a user is expecting an a

[2019-02-08 18:13] swinton opened #38 "Throw error when requiredEnvVars are missing"
:wave: @JasonEtco thanks for providing this utility, it's super helpful!

What are your thoughts on throwing an error (saying, e.g. `GitHub Actions environment unavailable`) when the required environment variables are missing? My thoughts are this would make it a little more explicit when the Actions environment isn't set, and would allow me to decide how to proceed (should I abort, or try and do

[2019-02-08 22:38] JasonEtco commented on #33
I swapped the token used with a different account (without publish 2FA), so this should be resolved.

[2019-02-08 22:38] #33 closed

[2019-02-08 22:48] JasonEtco commented on #38
Hi @swinton! Thank you for opening this - I really grappled with this decision. I'm happy to talk through it and properly `throw` (and even go so far as to `process.exit(1)`) - so here's my reasoning, let me know what you think.

I had it warn rather than throw because of tests. I didn't want users of the library to always need to define every one of those env vars just to make their tests pass. A

[2019-02-09 02:57] #34 closed

[2019-02-09 15:24] swinton commented on #38
Thanks for taking a look here :bow:

Yeah, interesting point. I might be weird, but I typically mock out `Toolkit` in my tests to emulate the expected Actions environment with something like this (which allows me to test various error paths in my code):

[code]

Interesting point. For what it's worth, when running locally I typically send in environment variables with `docker run -e`, i.e. in a si

[2019-02-09 16:17] JasonEtco commented on #38
Iiiiiiinteresting. Thanks for the clear description 🙏 The reliability of knowing that your implementation is correct makes a lot of sense.

I might steal this and put it into the [bootstrap script]() - it looks really handy and would avoid a "why isn't my thing working oh its because I'm missing this env var."

I'm convinced! Will make it throw 👍 possibly with an option in the constructor.

[2019-02-09 21:05] #36 closed

[2019-02-10 16:50] #35 closed

[2019-02-10 18:06] JasonEtco commented on #5
I've got a local branch implementing [Signale](https://github.com/klaussinani/signale), and with some light tweaking its super nice. The icons are easier to find in the logs, and it supports all the things we'd want like prefixes, different log types, etc etc. Probably gonna go with that!

[2019-02-13 01:27] banyan commented on #36
@JasonEtco

Thanks for this. it's useful! however, when I tried as following,

[code]

if I just edit pull request comment and triggered `pull_request.edited`, it would return exit 1. this looks something has failed even it just skipped.

![image](https://user-images.githubusercontent.com/19625/52679824-a8bcbb00-2f79-11e9-9601-5249f922de72.png)

should we allow to return 78 in that case? https://d

[2019-02-13 01:53] JasonEtco commented on #36
Oooh! This is great feedback. I'm guessing a `neutral` code would make more sense 🤔 @banyan would you be open to opening a pull request? Ideally, that'd use the `exit.neutral()` method added in #39.

[2019-02-13 02:02] JasonEtco opened #43 "Should not-allowed events fail, or exit neutral?"
[code]

if I just edit pull request comment and triggered `pull_request.edited`, it would return exit 1. this looks something has failed even it just skipped.

![image](https://user-images.githubusercontent.com/19625/52679824-a8bcbb00-2f79-11e9-9601-5249f922de72.png)

should we allow to return 78 in that case? https://developer.github.com/actions/creating-github-actions/accessing-the-runtime-envir

[2019-02-13 02:07] JasonEtco commented on #43
I've opened this as a separate issue so that it doesn't get lost @banyan! I wanted to make sure I'm understanding your use-case.

I definitely agree that we should be exiting with a neutral status code `78` as per [this doc](https://developer.github.com/actions/creating-github-actions/accessing-the-runtime-environment/#exit-codes-and-statuses) - we can make use of the `exit.neutral()` method added

[2019-02-13 02:11] banyan commented on #36
@JasonEtco

Thanks! I've just sent a PR: https://github.com/JasonEtco/actions-toolkit/pull/44

[2019-02-13 02:25] #43 closed

[2019-02-16 18:20] #5 closed

[2019-02-17 17:22] JasonEtco opened #50 "Add docs on testing your action"
Writing tests for GitHub Actions is tough to get the hang of. I want to add documentation to show how I've done this using actions-toolkit. I'll link to [create-an-issue](https://github.com/JasonEtco/create-an-issue), where I've [done this](https://github.com/JasonEtco/create-an-issue/blob/master/tests/index.test.js) fairly well. Some key highlights:

[code]

And allowing for a "mocked" `Toolkit`

[2019-02-18 18:08] JasonEtco opened #51 "A logo for this library"
I'd like this library to have a logo! Here's where it'd go in the README:

<img width="996" alt="image" src="https://user-images.githubusercontent.com/10660468/52966747-0c7a2600-3376-11e9-9e4d-38616c9fe66e.png">

## Motivation

I read somewhere (I can't find the post but would absolutely love to re-read) that talked about the power of branding for open source projects. Having an image in your mind

[2019-02-19 00:42] JohnPhamous commented on #51
I'll give this a go

[2019-02-19 01:27] JohnPhamous commented on #51
![github-actions-toolkit-design-1](https://user-images.githubusercontent.com/16027268/52983406-e10c3100-339f-11e9-8442-ba42a7d7d048.jpg)
![github-actions-toolkit-design-2](https://user-images.githubusercontent.com/16027268/52983408-e23d5e00-339f-11e9-9155-69ac9dd65880.jpg)
![github-actions-toolkit-design-3](https://user-images.githubusercontent.com/16027268/52983731-5debda80-33a1-11e9-87b6-5e195bd

[2019-02-19 02:18] JasonEtco commented on #51
Ooh awesome @JohnPhamous! These are really cool directions. I think I'm a fan of a circular shape - the third one feel closest. Not sure about the colors though; I find them a little too bright. I like that it looks like a bunch of assorted items in a little "toolbox."

Maybe something like this, reusing the gradient from the https://github.com/actions logo...

![image](https://user-images.githubu

[2019-02-22 18:47] JohnPhamous commented on #51
@JasonEtco Love the changes you made to the 3rd one. I'll take your feedback and make the changes sometime this weekend.

[2019-02-23 21:36] macklinu commented on #17
+1 to this API. I feel like registering a command like this would be more explicit than a generic event emitter/subscription API (e.g. `toolkit.on('pizza')`).

To clarify https://github.com/JasonEtco/actions-toolkit/issues/17#issuecomment-458245263, are you stating that the only event a command can respond to is the `issue_comment` event and that the docs should explicitly state that? I think that

[2019-02-23 21:44] JasonEtco commented on #17
@macklinu thanks for sharing your thoughts!

Yeah, it'd be to avoid a "gotcha" where folks use the API in an action that cannot, by definition, trigger the command. I'd want to avoid people accidentally thinking that a `push` might trigger a `/command` 😁

It might be worth building up a list of what those events are - `issues`, `issue_comment`, `pull_request`, `commit_comment`, `pull_request_revie

[2019-02-26 20:29] tcbyrd commented on #17
@JasonEtco We should also ensure it doesn't respond to bots, to prevent infinite loop situations (helpful when a Bot responds with a list of commands you can use)

We do this in the [jira middleware](https://github.com/integrations/jira/blob/a82a07d1f619740a6d2dcf74ab4a831009bb0c4f/lib/github/middleware.js#L6-L9):

[code]

[2019-02-26 23:50] macklinu opened #54 "Add CLI questionnaire"
Similar to `npm init`, it could be a nice developer experience to interactively bootstrap an actions-toolkit action. Being asked by the CLI to give the action a name, description, icon, etc. could be a nice way to inform developers about the [documented label metadata](https://developer.github.com/actions/creating-github-actions/creating-a-docker-container/#label) during the setup process.

This c

[2019-02-27 00:06] JasonEtco commented on #54
Yeah, would definitely be into this. I wanted to keep the CLI pretty minimal just to have "something" so I'm all for improvements. I've used Inquirer in the past, but I'm open to either one (or any other alternative).

The Dockerfile labels are a great start too 👌 if you're interested in a PR for this, go for it ✨

[2019-02-27 01:27] macklinu commented on #54
Awesome, I'll look to PR something soon!

I want to add some CLI tests but am having trouble figuring out an approach moving forward.

In a local branch, I added a `tests/cli.test.ts` file:

[code]

This test passes, but Jest shows the following warning:

[code]

I don't know if that's something to worry about and continue to write CLI integration tests like this (mocking out the filesystem, proce

[2019-02-27 02:11] JasonEtco commented on #54
I'm fine with tests that are a lot less specific and just mock `inquirer` a la `jest.mock('inquirer')`. I don't have much experience testing CLI tools, so I'm up for some exploration! I did find [these](https://github.com/SBoudrias/Inquirer.js/issues/379) two [issues](https://github.com/SBoudrias/Inquirer.js/issues/95) asking about Inquirer test paradigms, and the general response was "Just mock i

[2019-02-27 19:09] macklinu opened #56 "Possible EventEmitter memory leak detected in tests"
Running `npm test` will log the following warning:

[code]

This was discussed in #54 but can be investigated as its own issue.

EDIT: Was able to get a stack trace by running `node --trace-warnings node_modules/.bin/jest`:

[code]

Issue looks to be with this exit handler:

https://github.com/JasonEtco/actions-toolkit/blob/6e3e542602c530f7f8e154b1af3a4d47a0d8719d/src/store.ts#L47-L51

[2019-02-27 19:10] macklinu commented on #54
I opened up #56 to tackle that memory leak warning separately. 💟

[2019-03-01 17:31] JasonEtco commented on #56
Thanks for opening @macklinu - I've updated the title of this issue to reflect that the memory leak is only in tests, since its caused by repeated calls to `.on()` in tests.

[2019-03-13 23:21] #56 closed

[2019-03-16 20:45] #17 closed

[2019-03-20 22:18] jclem opened #61 "Make `context.issue` and `context.repo` objects"
The way that `context.issue` and `context.repo` are functions that merge their arguments has been a point of confusion for me quite a bit.

Given that Node supports object spread, and you can achieve the same goal with that, does it make sense for `context.issue` and `context.repo` to just be (frozen) objects, instead?

[code]

vs

[code]

[2019-03-20 22:32] JasonEtco commented on #61
I'm so glad that someone finally said something 😅 this is a remnant of Probot's code (I quite literally copy-pasted), and that decision was made in Probot _before_ the object spread operator was in LTS Node. That's not a good enough reason for it to be _here_ though!

Unfortunately, this is the kind of change that will break almost every action, so it'll need mean a breaking change to v2 (which sh

[2019-03-23 23:08] #54 closed

[2019-03-26 21:14] JasonEtco opened #65 "Add a `secrets` option to the constructor"
Similar to the `events` option from #36, I'd like the Toolkit constructor to have a `secrets` option that does exactly the same kind of thing: will exit with a failure if the required secrets are not present. This should be a declarative, clear way of saying "this action won't work without these secrets."

[code]

[2019-03-26 21:17] gr2m commented on #65
I like, great IDEA!

I think you could somewhat enforce by defining getters which would only work if the secrets are defined as shown above

[code]

I think you could also implement `toolkit.secrets.GITHUB_TOKEN` using [Proxy](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy)

[2019-03-26 21:21] JasonEtco commented on #65
ooooooooo that's a great idea. I do want it to the secrets to be optional - so if I say:

[code]

I should still be allowed to access `process.env.SOME_OTHER_SECRET`.

[2019-03-26 21:26] gr2m commented on #65
good point, secrets might be optional 🤔

In these cases you’d usually check if the ENV variable is set, you could provide a method like `toolkit.secrets.isProvided('GITHUB_TOKEN')`

Maybe it’s overkill 🤷‍♂️

[2019-03-27 22:20] #65 closed

[2019-03-28 20:43] rachmari opened #68 "Not all feather icons are supported by actions"
The new questionnaire allows you to choose unsupported feather icons. If the documentation is correct, I don't think we support these icons:

chrome
codepen
coffee
figma
frown
github
gitlab
instagram
key
linkedin
meh
mouse-pointer
pen-tool
slack
smile
trello
twitter
x-octagon
youtube

The documentation over [here](https://developer.github.com/actions/creating-github-actions/creating-a-docker-conta

[2019-03-29 00:06] JasonEtco commented on #68
That's true! We can filter those out [in the script that generates the `.json` file](https://github.com/JasonEtco/actions-toolkit/blob/master/scripts/update-feather-icons.js) pretty easily. However, I'm concerned with getting the list of icons that GitHub _does not_ support 🤔 We could go so far as to parse the doc site, but that's a little dicey.

cc @macklinu ✨

[2019-03-29 00:08] gr2m commented on #68
Oh I gotcha, I did this so often now, happy to help. We could create a separate package that returns all supported GitHub Action icons and auto-updates. It would be similar to [octokit/webhooks](https://github.com/octokit/webhooks), just one document page that a script would call and turn into JSON, then create a PR if something changed during a nightly cron job

[2019-03-29 00:19] macklinu commented on #68
I like that approach. This is something that came up initially in #57 (see https://github.com/JasonEtco/actions-toolkit/pull/57#discussion_r261053724 for some history) but ended up choosing the official feather-icons icon names list vs. parsing the GitHub Actions site. However, I think running a nightly cron job to keep supported icon names up to date sounds good - let me know if I can help with t

[2019-03-29 01:33] JasonEtco commented on #68
Thanks for the suggestions y'all ❤️

If we go down that route, definitely in favor of it being a separate repo (potentially as a GitHub Action 😱)

[2019-03-29 04:36] JasonEtco commented on #38
@swinton 👋 I'm here to report that I reverted #41 in #70 😅 I discovered that some environment variables are not present in every event, so to depend on the existence of some but not all is as unreliable as none (that's confusing but I think it's correct). I also encountered [some friction](https://github.com/JasonEtco/actions-toolkit/pull/62#issuecomment-475094905) while using this in `v2.0.0-beta

[2019-03-29 04:36] #38 closed

[2019-03-29 05:36] JasonEtco commented on #38
Oh by the by @swinton  - this may or may not work for your use-case, but you can [define what events your Action is designed to be triggered by](https://github.com/JasonEtco/actions-toolkit#event-optional), which would help prevent `undefined` events!

[2019-03-29 11:20] swinton commented on #38
Thanks for taking a look @jasonetco. Makes sense!

[2019-03-29 21:00] gr2m commented on #68
+1 for separate repo, this might be useful to others, too. And besides publishing to npm, you could also publish the JSON to GitHub pages so non-npm tools could easily load a machine-readable format. I do that for octokit/routes: https://octokit.github.io/routes/

[2019-03-30 18:17] JasonEtco commented on #50
I finally found a testing pattern that I'm really happy with, using `Toolkit.run`! I'll document this properly, but for now:

[code]

[code]

[2019-03-30 18:23] JasonEtco commented on #50
Random aside: now that there's a good pattern for tests, I'd like to add something like ☝️ to the CLI template. This'll help folks get started with tests right away. It'll mean adding `jest` to the `package.json` as well - but I think that's a good thing.

[2019-03-31 17:01] JasonEtco opened #74 "Debug mode"
Here's a thought for folks building Actions: would it be useful to have a "Debug mode" for Actions using actions-toolkit? Here's a rough idea for the feature's I'd want it to have:

* Post payloads to Smee.io (something similar to [JasonEtco/smee-action](https://github.com/JasonEtco/smee-action), but built into actions-toolkit)
* Additional, verbose logging
  * Log before require-ing `event.json`

[2019-04-07 21:12] #50 closed

[2019-04-10 13:15] yordis opened #79 "✖ fatal HttpError: Bad credentials"
I am not sure what I am doing wrong
https://github.com/straw-hat-team/github-actions-workflow/runs/97984058

[2019-04-10 13:19] JasonEtco commented on #79
You're using `tools.github` but there's no `GITHUB_TOKEN` to authenticate with. Add `secrets = ["GITHUB_TOKEN]` to the `action "..." {}` block in the `main.workflow`.

[2019-04-10 13:20] yordis commented on #79
@JasonEtco I just hardcoded and now I am getting `✖  fatal     HttpError: Not Found`

[2019-04-12 18:23] alex-page opened #81 "minimist argument as string with space breaking"
I have an argument `--test="hello world"`.

Using `minimist` not through this library the output is
[code]

Using this library it separates the string values into
[code]

I noticed you parse the arguments, but I think something seems a bit off.

[2019-04-12 18:37] JasonEtco commented on #81
Are you running into this locally by running the file through `node <file>`, or through a `main.workflow` file on GitHub? If the latter, could you share the file contents?

[2019-04-12 18:38] alex-page commented on #81
Through a `main.workflow`:

[code]

[2019-04-12 19:03] JasonEtco commented on #81
Thanks for that info @alex-page 🙏 That all _looks_ correct; I'll do some more digging when I get a chance. You might also have more success by doing:

[code]

[2019-04-12 19:04] alex-page commented on #81
Oh ok nice! I'll do that as a temporary solution. Thank you 💯

[2019-04-12 19:12] JasonEtco commented on #81
That's... odd. There's definitely something screwy going on.

[2019-04-12 19:15] JasonEtco commented on #81
Running it locally, I get the expected output:

[code]

<img width="442" alt="image" src="https://user-images.githubusercontent.com/10660468/56060764-c1f1a600-5d35-11e9-96f8-20b790337eaf.png">

So its presumably something in the workflow parser.

[2019-04-12 19:21] alex-page commented on #81
Yeah something is going on. I tried this:
[code]

and got this:
[code]

[2019-04-12 19:25] JasonEtco commented on #81
That makes sense - you've got quotes around the array:

[code]

I _think_ that single quotes vs. double quotes matters, or at least they're being syntax-highlighted differently.

[2019-04-12 19:26] JasonEtco commented on #81
Doing `console.log(process.argv)` shows me:

[code]

So that's looking good with a well-formatted `args` array!

[2019-04-12 19:28] alex-page commented on #81
The number definitely confused me. Thanks for the help I definitely made a mistake with the string around the array. It seems to be happy now:
[code]
[code]

[2019-04-12 19:30] JasonEtco commented on #81
Ok great - now that I think about it, one-string args being parsed weirdly is actually a known bug. That's why [some actions have an entrypoint](https://github.com/actions/npm/blob/master/entrypoint.sh) like this:

[code]

So if its working as expected with an args array, I think the best we can do is clarify this behavior in the README 👌

[2019-04-12 19:37] alex-page commented on #81
Ok that makes a lot more sense. A little information in the README would be great! Want me to make a Pull Request?

[2019-04-12 19:38] JasonEtco commented on #81
That'd be wonderful, thanks ❤️

[2019-04-12 19:49] #81 closed

[2019-04-13 19:15] alex-page commented on #68
I have updated the links in the hope that won't cause confusion.

[2019-04-19 20:22] bryanmacfarlane commented on #51
![actions-toolkit](https://user-images.githubusercontent.com/919564/56442589-5a9c9e80-62bf-11e9-9c10-af799efadda7.png)

[2019-04-19 20:28] bryanmacfarlane commented on #51
In all the variations, I like the circle and somehow tying back into the actions logo.  The allen wrench hole with circle and tie back to action logo is nice.

[2019-04-22 13:12] alex-page opened #84 "Specific events causes error logs"
I understand this is the current approach for handling events but I think it should end without a failure.

This causes some confusion in the following scenario:
[code]

In GitHub we cannot specify to run an action on `issues.opened` we can only run an action on `issues`. This means that all the actions that run on `issues` are going to get an error log. Which causes confusion like seen in this is

[2019-04-23 19:29] JasonEtco commented on #84
Thanks for opening this @alex-page 🙏 I see the issue here. This can be handled in user-land, but in a scenario where I want to act on `pull_request.opened`, it'd fail on any `pull_request.synchronize` - and post failure statuses to the same PR 👎  It'd be cool to do something like (pseudo-code):

[code]

I'm super swamped at the moment - if you're interested in a PR that'd be 🔥 🙏

[2019-04-23 20:36] alex-page commented on #84
I would love to help. I would like some clarity around this:

The PR will get failing status checks when synchronise fires as it needs to exit the action with an error?

[2019-04-23 20:40] JasonEtco commented on #84
I think that's the behavior right now - if I make an Action with this:

[code]

[code]

It will exit with a failure whenever I push the the PR (kicking off a `pull_request.synchronize`). It should instead exit neutral, otherwise it'll report a failing status. Does that help clarify things?

[2019-04-23 20:44] alex-page commented on #84
Yeah definitely, thanks @JasonEtco

[2019-04-28 11:36] dorongutman opened #85 "Creating a pull request review"
I want to have a slash command like `/emergency-approve` that will create an approved review by someone (either the author itself, if that's possible, or by a bot user).
While the usage isn't relevant, I know people have opinions on such a behaviour so I'll just say that this is to allow a designated person(s) to bypass the requirement of an approved review to merge a pull request to a protected b

[2019-05-12 08:14] evdama opened #86 "Note about Architectural Context & Added Value"
Since Github Actions is an entirely new concept it's hard for people to grasp how _actions-toolkit_ fits in this context of github actions. Is it a way to write actions inside Docker Containers using node.js? Is it an extension to the textual way of writing actions on github? Is it something optional entirely, and where is it executed after all?

People don't know yet what to make of github action

[2019-05-14 01:39] JasonEtco commented on #86
Hey @evdama - thanks for bringing this up. I think that this line from the README:

...says enough. I'd be up for linking to some additional resources at the end of the README though, like [awesome-actions](https://github.com/sdras/awesome-actions) or [my blog post on building Actions with Node.js](https://jasonet.co/posts/building-github-actions-in-node).

If you'd like to open a PR for ☝️ that'd

[2019-05-14 05:05] evdama commented on #86
said and done https://github.com/JasonEtco/actions-toolkit/pull/87

I kept to the information you gave in your initial blog post :)

[2019-05-16 14:42] JasonEtco commented on #85
Hey @dorongutman 👋 I'm not sure if you're asking a question here - I'm going to close this issue but feel free to reopen if I've missed something. Either way, seems like a cool idea ✨

[2019-05-16 14:42] #85 closed

[2019-05-16 14:42] #86 closed

[2019-05-16 15:03] dorongutman commented on #85
@JasonEtco it indeed was a question about how to achieve this, as I wasn't able to do that.

[2019-05-16 15:05] JasonEtco commented on #85
Ah I see - to create a review you'd want:

[code]

[2019-05-17 13:24] kevinpollet opened #91 "@octokit/graphql types"
As mentioned in #88, I've a first implementation of `@octokit/graphql` types which can be contributed to `DefinitelyTyped` when I've added the tests and checked that everything is working. You can see my work here: https://github.com/DefinitelyTyped/DefinitelyTyped/compare/master...kevinpollet:add-octokit-graphql-types.

WDYT?

[2019-05-17 18:22] gr2m commented on #91
we are working on rewriting the `@octokit/*` libraries to typescript right now. We just finished https://github.com/octokit/endpoint.js and https://github.com/octokit/request.js. https://github.com/octokit/app.js is work in progress and https://github.com/octokit/graphql would be next. If you like you can help us out with it :) I’ve described our build setup at https://gist.github.com/gr2m/5dd2ec6

[2019-05-20 08:56] kevinpollet commented on #91
Awesome 👍

I think someone is already on it, I've seen that there is a recently updated branch named `typescript` in the`graphql` repository (https://github.com/octokit/graphql.js/tree/typescript).

Let me know if I can do something or when it's done, if you want I will integrate it in this project.

[2019-06-18 20:12] bdougie opened #94 "Ability to leverage graphql previews of the API is not advertised in README"
# Context

I am trying to leverage your toolkit to create action on a repo. I understand you are leveraging Octokit, but adding a preview header was not as clear but I figured it out.

# My example
[code]

If it is cool with you, I might add a mention of headers to the README.md

[2019-06-19 17:14] #94 closed

[2019-08-05 05:07] coreybutler opened #98 "Logging Issue"
Given the following code:

[code]

**Actual Output**: `Version 1.0.0`

**Expected Output**: (object)

[code]

---

It appears as though `message` is being picked up by the logger instead of dumping out the object. It works with other objects. It only fails when `message` is an attribute of the object.

[2019-11-18 19:17] phatbhoy67 commented on #51
A couple of options which give a nod to the wrench.
![actions-toolkit](https://user-images.githubusercontent.com/18670428/69082142-69a32500-0a37-11ea-8122-0f474d51ee37.png)

[2019-12-18 23:39] JasonEtco commented on #98
Thanks for the report here @coreybutler, sorry for the (very long) delay 🙏 I think this is a "feature" of [Signale](https://github.com/klaussinani/signale), the logger in use. I agree that it's confusing, but that's the behavior they decided on. I think that encountering it by mistake is a fairly uncommon edge-case; I'm going to close this issue, but if it comes up again we can take a look at usin

[2019-12-18 23:39] #98 closed

[2019-12-18 23:40] JasonEtco commented on #84
I'm going to close this issue since the behavior is different in Actions v2. Thanks for opening!

[2019-12-18 23:40] #84 closed

[2019-12-18 23:41] JasonEtco commented on #74
Actions v2 supports a debug mode at the runner level :v:

[2019-12-18 23:41] #74 closed

[2020-02-23 19:18] JasonEtco commented on #91
👋 Closed by #106

[2020-02-23 19:18] #91 closed

[2020-02-23 21:20] gr2m opened #108 "Latest @octokit/rest has a .graphql method so no need to add it"
Latest `@octokit/rest` is built on `@octokit/core`, so when you update you can remove your workaround

https://github.com/JasonEtco/actions-toolkit/blob/5c38cd50824e1de264d95bef64324f1d12b7bb59/src/github.ts#L4-L13

But I'm also not sure why you keep exposing that API instead of telling people how to load their own octokit instance. It will reduce your maintenance and support overhead, and there i

[2020-02-23 21:23] JasonEtco commented on #108
Ah that's great to know! Hopefully I'll be able to make that change in the next release. FYI, I wasn't able to upgrade to v17 because of type issues that I was planning to talk to you about; but now those probably aren't an issue, because it was while extending to add `.graphql`!

This is a hill I'm actually prepared to die on - its a part of Probot that I really love, and that I think makes using

[2020-02-24 08:46] frontendphil opened #110 "Error regarding missing js-yaml dependency"
We've just received the 3.0 update in our pipeline. However, actions that use `actions-toolkit` now all fail with the following error:

[code]

Does that ring a bell?

[2020-02-24 14:56] JasonEtco commented on #110
Hey @frontendphil, can you share your code? Js-yaml isn’t used by this library anymore, but if you were using the dependency directly you’ll now need to install it directly.

[2020-02-24 15:04] frontendphil commented on #110
That's weird :) The code is rather simple.

[code]

[code]

[2020-02-24 15:22] JasonEtco commented on #110
Thank you for the info @frontendphil 🙏 you're absolutely right - I published the wrong built code 🤦‍♂ I had some automation in this repo that broke and then forgot to do a manual step.

I've just published 3.0.1, please let me know if that works for you!

[2020-02-24 15:25] frontendphil commented on #110
👍 works like a charm now!

[2020-02-24 15:25] #110 closed

[2020-03-03 00:12] aaomidi commented on #79
I'm getting this error too.

[code]

[code]

[2020-03-03 00:38] aaomidi commented on #79
I solved this problem. I was using `use` instead of `env`

[code]

[2020-03-03 00:41] JasonEtco commented on #79
👋 yep, that's correct @aaomidi. A lot of actions will recommend using an input (`with: ...`), but that wasn't possible in the first iteration of Actions. Because of that, I chose to stick with it even for Actions v2 support. Happy to consider changing that if you'd like to open an issue for feedback 😊

[2020-03-03 00:43] aaomidi commented on #79
I might do a PR for that :)

[2020-03-25 15:20] Scrum opened #114 "File readme.md could not be found in your project's workspace"
Tell me why this can happen? try in [https://github.com/inside-demo/actions-demo](https://github.com/inside-demo/actions-demo/runs/533776324?check_suite_focus=true),  [action](https://github.com/Scrum/awesome-readme-to-data-action)

[2020-03-25 15:45] JasonEtco commented on #114
You need to checkout the repository in your actions workflow to have access to the repo's files:

[code]

[2020-03-25 15:45] #114 closed

[2020-03-25 15:54] Scrum commented on #114
thanks a lot

[2020-04-04 01:42] #108 closed

[2020-04-11 18:52] afwn90cj93201nixr2e1re commented on #85
@JasonEtco

can you help little bit pls?

I have a workflow:

[code]

So, it's trigger every time when comment created.
It works well. Btw i don't wanna call it each time when comment was created, i need only call it when comment created and contain 'build' (blue called when 'blue' is not exists
![изображение](https://user-images.githubusercontent.com/9306996/79052365-8d087f80-7c25-11ea-9d04-f21a6

[2020-04-11 18:54] JasonEtco commented on #85
@afwn90cj93201nixr2e1re do you mind opening a new issue for your question? It seems unrelated to this one.

[2020-04-11 18:58] afwn90cj93201nixr2e1re commented on #85
So fast.
Yep, i know. I don't wanna, if you can, just describe it on ur blog, and i gonna read. If u can't, so... then, thanks for fast response.

[2020-04-11 19:19] JasonEtco commented on #85
I understand that you don’t wanna, but a new issue with your question in it is how I’ll be able to help you.

[2020-04-12 00:06] #68 closed

[2020-04-12 00:06] #51 closed

[2020-04-12 06:36] afwn90cj93201nixr2e1re commented on #85
np, thx.

[2020-04-14 08:04] afwn90cj93201nixr2e1re commented on #85
so, i ended up with https://github.com/marketplace/run-actions-from-comment

[2020-05-11 02:42] abouroubi opened #119 "Can we set outputs ?"
Github Actions can have outputs, can we do that with this toolkit ?

If not, is there any restirction on importing the @actions/core in the same file that uses actions-toolkit ?

[2020-05-11 06:33] JasonEtco commented on #119
:wave: You can definitely use `@actions/core` - in fact, it's used within `actions-toolkit`. I'd be open to adding a `tools.outputs` Proxy that works like `tools.inputs` though. I'm going to close this because there are no action items, but feel free to reopen if I've missed something.

[2020-05-11 06:33] #119 closed

[2020-05-11 23:52] abouroubi commented on #119
A proxy for the outputs would be great, I'll see if I can make a PR for that

[2021-03-20 09:59] EndBug opened #136 "Integrate Signale logs with GH actions syntax"
As of now, you can use the built-in logger to show errors, warnings, debug messages, and so on, but they don't use the GH actions syntax, and so they don't appear in the report.

I'd like to integrate the already existing methods with the proper syntax (you can add it as a prefix in Signale) and to add a couple of methods (such as groups)

It's still possible to create your own Signale instance or

[2021-03-22 17:42] JasonEtco commented on #136
Hey @EndBug, thanks for the suggestion! I don't fully understand - are you referring to the special command syntax that Actions uses? Would logging an error be equivalent to calling [`core.error()`](https://github.com/actions/toolkit/tree/main/packages/core#logging)? If so - yeah, that makes sense, definitely something this library should just do magically. A PR would be great!

[2021-03-22 19:13] EndBug commented on #136
Yeah, that's exactly what I intended
Great, I'll open a PR as soon I'm ready 👍🏻

[2021-03-24 09:37] EndBug commented on #136
Hey @JasonEtco, I need an advice: I've developed this functionality, but the fact that GitHub already puts 'Error' and 'Warning' prefixes itself, doesn't it get redundant?

These are the current result from the `@actions/core` and `signale`:
<img src="https://user-images.githubusercontent.com/26386270/112286109-43c10c80-8c8b-11eb-808e-9eafc1db2aab.png" alt="@actions/core result" width="250">
<img

[2021-03-29 08:04] EndBug commented on #136
I'm just gonna go ahead and remove the redundant Signale prefix...

[2021-03-30 03:58] JasonEtco commented on #136
@endbug awesome, I'll take a look there. Let's continue that conversation over in #137 - but I agree, the Actions UI has changed and now the Signale prefixes are redundant. It might even be worth removing Signale entirely in favor of a light abstraction that just uses `core#warn/debug/error`

[2021-05-21 03:56] Queenmariehatcher opened #141 "tolkit"
**Is your feature request related to a problem? Please describe.**

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**

A clear and concise description of what you want to happen.

**Describe alternatives you've considered**

A clear and concise description of any alternative solutions or features you've considered.

*

[2021-05-21 04:26] #141 closed

[2021-06-07 00:11] #136 closed

[2021-10-13 11:50] el-mapache opened #146 "Specify some input or env that allows a user to override the default GITHUB_REPOSITORY env var"
**Is your feature request related to a problem? Please describe.**
Using this toolkit and your create-issue action, I am unable to create an issue in a different repository than the action's repo. Our team is attempting to put as much automation in its own repository as possible to separate repo concerns and this functionality would be great!

**Describe the solution you'd like**
I can pass env va

[2021-12-13 01:24] JasonEtco commented on #146
Hey, sorry this slipped last my radar. If you're still interested in this behaviour, an issue in `JasonEtco/create-an-issue` would be better, since it really means adding an option there.

Totally supportive of that! But note that GitHub Actions creates API tokens that are scoped to the repository they're being run in - so you'd also need to pass a personal access token that has access to the repo

[2021-12-21 00:07] #146 closed

[2021-12-21 19:35] el-mapache commented on #146
Totally missed your reply, apologies! We ended up simply adding the action to the repo in question. Maintaining PATs we're forced to rotate, and tied to team members who will certainly not be on the team forever seems like more of a hassle than its worth.

Thanks for getting back to me 😄

[2021-12-21 19:36] JasonEtco commented on #146
I definitely agree, I think you picked the best approach 👍  🚀